.variants-container {
    height: 7vh;
    border: 2px solid #007bff;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #007bff;
}

.variant-options {
    width: 200px;
    position: relative;
    padding: 5px;
    background: #fff;
    border-radius: 14px;
    outline: none;
    border: none;
    cursor: pointer;
}

.variant-dropdown h1 {
    font-family: 'outfit';
    color: #fff;
    }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  select {
    padding: 10px;
    font-size: 16px;
    border-radius: 14px;
    background-color: #fff;
    cursor: pointer;
    padding: 10px;
    transition: all 0.4s;
  }

  select:hover {
    background: #f4f4f4;
  }
  
  option {
    background-color: #fff;
    color: #333;
  }
  
  option:checked {
    background-color: #007bff;
    color: #fff; 
  }
  
  